html {
  font-family: "Nunito", sans-serif;
}

body {
  background: linear-gradient(137deg, #191414, #1bf968fa);
  background-size: 200% 200%;
  -webkit-animation: BackgroundGradient 10s linear infinite;
          animation: BackgroundGradient 10s linear infinite;
}

@-webkit-keyframes BackgroundGradient {
  0% {
    background-position: center top;
  }

  25% {
    background-position: right center;
  }

  50% {
    background-position: center bottom;
  }

  75% {
    background-position: left center;
  }

  100% {
    background-position: center top;
  }
}

@keyframes BackgroundGradient {
  0% {
    background-position: center top;
  }

  25% {
    background-position: right center;
  }

  50% {
    background-position: center bottom;
  }

  75% {
    background-position: left center;
  }

  100% {
    background-position: center top;
  }
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
  font-weight: 300;
  list-style: none;
  -webkit-animation: ColorChange 10s infinite;
          animation: ColorChange 10s infinite;
}

@-webkit-keyframes ColorChange {
  0% {
    color: white;
  }

  50% {
    color: black;
  }

  100% {
    color: white;
  }
}

@keyframes ColorChange {
  0% {
    color: white;
  }

  50% {
    color: black;
  }

  100% {
    color: white;
  }
}

.title li {
  display: inline-block;
  margin-right: 50px;
  opacity: 1;
  -webkit-transition: all 2.5s ease;
  transition: all 2.5s ease;
}

.title.hidden li {
  opacity: 0;
}

.title.hidden li:nth-child(1) {
  -webkit-transform: translateX(300px) translateY(200px);
          transform: translateX(300px) translateY(200px);
}

.title.hidden li:nth-child(2) {
  -webkit-transform: translateX(-70px) translateY(300px);
          transform: translateX(-70px) translateY(300px);
}

.title.hidden li:nth-child(3) {
  -webkit-transform: translateX(-150px) translateY(-80px);
          transform: translateX(-150px) translateY(-80px);
}

.title.hidden li:nth-child(4) {
  -webkit-transform: translateX(-400px) translateY(-300px);
          transform: translateX(-400px) translateY(-300px);
}

.title.hidden li:nth-child(5) {
  -webkit-transform: translateX(250px) translateY(-200px);
          transform: translateX(250px) translateY(-200px);
}

.title.hidden li:nth-child(6) {
  -webkit-transform: translateX(-80px) translateY(-80px);
          transform: translateX(-80px) translateY(-80px);
}

.title li:last-child {
  margin-right: 0;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

